{% extends '_common/base.html' %}
{% load embed_video_tags %}
{% block content %}
    <article class="media content-section" style="width: fit-content">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="awesome-profile-pic">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-vlog-posts' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:'F d, Y' }}</small>
                {% if object.author == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1"
                           href="{% url 'vlog-update' object.slug %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'vlog-delete' object.slug %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <div class="card-group">
                <h2 class="card-header">
                    <a class="d-flex flex-wrap" href="{% url 'vlog-detail' object.slug %}">
                        {{ object.artist_name }} - {{ object.song_name }}
                    </a>
                </h2>
                <div class="card embed-responsive embed-responsive-16by9">
                    {% video object.video_url '100% x 100%' %}
                </div>
                <div class="card">
                    <ul class="list-group d-flex flex-wrap">
                        <li class="list-group-item">Lyrics: {{ object.lyrics }} </li>
                        <li class="list-group-item">Music: {{ object.music }}</li>
                        <li class="list-group-item">Arrange: {{ object.arranged }}</li>
                        <li class="list-group-item">Producer: {{ object.producer }}</li>
                    </ul>
                    <div class="card">
                        {% if object.spotify %}
                            <a class="btn btn-info mx-1 my-1" href="{{ object.spotify }}">Spotify</a>
                        {% endif %}
                        {% if object.itunes %}
                            <a class="btn btn-info mx-1 my-1" href="{{ object.itunes }}">iTunes</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock content %}