{% extends 'base.html' %}
{% load embed_video_tags %}
{% block content %}
    <h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    {% if is_paginated %}
        {% include 'paginator.html' %}
    {% endif %}
    {% for post in vlogs %}
        <div class="card mb-4" style="width: 482px;">
            {% video post.video_url 'small' %}
            <div class="card-body">
                <h2 class="card-header"><a class="card-title d-flex flex-wrap"
                                           href="{% url 'vlog-detail' post.slug %}">{{ post.artist_name }}</a>
                    <a class="card-title d-flex flex-wrap"
                       href="{% url 'vlog-detail' post.slug %}">{{ post.song_name }}</a>
                </h2>
                <ul class="list-group">
                    <li class="list-group-item">Lyrics: {{ post.lyrics }} </li>
                    <li class="list-group-item">Music: {{ post.music }}</li>
                </ul>
                <div class="mt-1">
                    {% if post.spotify %}
                        <a class="btn btn-info mb-1" href="{{ post.spotify }}">Spotify</a>
                    {% endif %}
                    {% if post.itunes %}
                        <a class="btn btn-info mb-1" href="{{ post.itunes }}">iTunes</a>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a class="mr-1" href="{% url 'user-vlog-posts' post.author.username %}">{{ post.author }}</a>
                    <a class="text-muted">on {{ post.date_posted|date:'F d, Y' }}</a>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if is_paginated %}
        {% include 'paginator.html' %}
    {% endif %}
{% endblock content %}