{% extends '_common/base.html' %}

{% block content %}
    <div class="container">
        <div class="col-md-12">
            <h2>Unable to comply</h2>
            <h1>403<br><small>Permission denied</small></h1>
            <small> {{ exception }} </small>
            <p class="lead">Don't do what you just did</p>
            <a href="/" class="btn btn-link">Home</a>
            <span class="divider">·</span>
            <a href="/video/" class="btn btn-link">Vlog</a>
            <span class="divider">·</span>
            <a href="/news/" class="btn btn-link">Blog</a>
            <span class="divider">·</span>
            <a href="/login" class="btn btn-link">Log in</a>
        </div>
    </div>
{% endblock content %}