{% extends '_common/base.html' %}
{% block content %}
    <div class="container">
        <div class="col-md-12">
            <h2>No Joy</h2>
            <h1>500<br><small>Internal Server Error</small></h1>
            <p class="lead">Something went wrong. That's all we know.</p>
            <p class="lead">Were you trying to url-hack this?</p>
            <span class="divider">·</span>
            <a href="/video/" class="btn btn-link">Vlog</a>
            <span class="divider">·</span>
            <a href="/news/" class="btn btn-link">Blog</a>
            <span class="divider">·</span>
            <a href="/login" class="btn btn-link">Log in</a>
        </div>
    </div>
{% endblock content %}